header{
    background-color:rgb(52, 52, 107);
}

.weather-image{
    width: fit-content;
    height: fit-content;
}

.city-weather{
    display:none;
}

.day-forecast{
    background-color:rgb(52, 52, 107);
}